
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post">
    <label>Enter A:</label>
    <input type="number" name="a" id="a" />
    <label>Enter B:</label>
    <input type="number" name="b" id="b" />

    <input type="submit" value="Calculate"/>
 </form>


